<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
  <body>
    <h2>Welcome!</h2><br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="color: red">{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h3 style="font-weight: bold;">Register</h3><br>
    <form action="register_user" method="post">
    	<label>Name:</label>
    	<input type="text" name="name" style="margin-left: 10px; border: 1px solid lightgrey;"></input><br><br>
    	<label>Email:</label>
    	<input type="text" name="email" style="margin-left: 10px; border: 1px solid lightgrey;"></input><br><br>
    	<label>Password:</label>
    	<input type="password" name="password" style="margin-left: 10px; border: 1px solid lightgrey;"></input><br>
        <label style="font-size: 8pt;">*Password should be at least 8 characters</label><br><br>
    	<label>Confirm PW:</label>
    	<input type="password" name="confirm" style="margin-left: 10px; border: 1px solid lightgrey;"></input><br><br>
        <label>Date of Birth:</label>
        <input type="text" name="birthday" placeholder="yyyy-mm-dd" style="margin-left: 10px; border: 1px solid lightgrey;"></input><br><br>
    	<input type="submit" value="Register"></input>
    </form><br><hr><br>

    <h3 style="font-weight: bold;">Login</h3><br>
    <form action="/login" method="post">
    	<label>Username:</label>
    	<input type="text" name="email2" style="margin-left: 10px; border: 1px solid lightgrey;"></input><br><br>
    	<label>Password:</label>
    	<input type="password" name="password2" style="margin-left: 10px; border: 1px solid lightgrey;"></input><br><br>
    	<input type="submit" value="Login"></input>
    </form>
  </body>
</html>
