<!DOCTYPE html>
<html>
<head>
	<title>Counter</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
<!-- 	<script>
		$(document).ready(function(){
        	$("#add2").click(function(){
        		{{session['count']}}
        	});
        });
	</script> -->
</head>
<body>
	<h1 style="position: absolute; top: 50%; left: 50%;">Counter</h1>
	<p style="position: absolute; top: 60%; left: 55%;">{{session['count']}} times.</p>
	<button id="add2" style="position: absolute; top: 70%; left: 55%;">Add 2</button>
</body>
</html>